SATQUERY_ENV=development
SATQUERY_DEBUG=true
SATQUERY_MODELS_DIR=./models
SATQUERY_DEVICE=auto
SATQUERY_DATA_DIR=./data
SATQUERY_DEMO_SAMPLES_DIR=./data/demo_samples
SATQUERY_USE_MOCK_FALLBACKS=true
SATQUERY_CONFIDENCE_THRESHOLD=0.75
